* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color:peru;
}

ul{list-style: none;}

.cabecera {background-color:rgb(0, 0, 0);
    color: lavender;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration-style: solid;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.contenedor{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
}
 
.tituloprincipal{
    font-size: 70px;
    font-weight: 900;
    color: black;
}

.navegacion{
    min-width: 80%;
}

.lista_navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista_enlace{
    font-size: 25px; 
    font-weight: 400; 
    text-decoration: none;
}

.hero{
    background-color:rgb(0, 0, 0);
    height: 600px;
    width: 100%;
    background-image: url('../imagenes/DSC0430.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-seccion {
    background-color:orangered;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  
}

/* Nuestro Servicios */

.nuestros-servicios {
    padding: 64px 32px;
}

.nuestros-servicios__titulo {
    text-align: right;
    font-size: 48px;
    color: orange;
    margin-bottom: 64px;
}

.servicios {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    text-align: center;
}

.servicios a {
    text-decoration: none;
    color: black;
}

.servicio {
    background-color: lightgoldenrodyellow;
    padding: 16px;
    width: 100%;
    max-width: 300px;

/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.servicio__icono {
    font-size: 50px;
    background-color: #C6083E;
    color: white;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.servicio__titulo {
    font-size: 24px;
    margin: 16px 0;
}

.contenido {
    width: 90%;
}

.tituloBanner1 {
    font-size: 48px;
    color: white;
    margin-bottom: 32px;
    align-items: center;
}

.parrafoBanner1 {
    font-weight: 100;
    margin-bottom: 32px; /* Separar elemento utilizo margin */
    color: white;
    align-items: center;
}

.comienzo{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 40px;
    font-weight: 900;
}

.articulos{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.foto{
    width: 500px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.biografia{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.curriculum{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.titulo_expo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.texto_expo{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;    
}

.titulo_cuaderno{
    padding-top: 20px;
    padding-bottom: 20px;
}

.texto_cuaderno{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.contacto{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify; 
}

a{
    color: antiquewhite;
}


.enlacespie{
    color: lavender;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; 
    font-weight: 400;
}

.pie{
    background-color: black;
    color: lavender;
    align-items: right;
}


.titulopie{
    padding: 20px;
    font-weight: 400;
    font-size: x-large;
    background-color: rgb(175, 96, 0);
}

.redes{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right; 
    
}

.socalo{
    background-color: black;
    font-weight: 100;
    font-size:x-small;
    text-align: center;
}


